<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h4>Hello <%= firstName %> <%= lastName %></h4>
<!--<a href="http://localhost:3000/activation?code=<%= validationCode %>&email=<%= email %>">-->
<!--    Activate-->
<!--</a>-->

<h5>Activation code</h5>

<!--<p>http://localhost:3000/activation?code=<%= validationCode %>&email=<%= email %></p>-->
<p><%= validationCode %></p>
</body>
</html>